<div class="login-box">
  <div class="login-logo">
    <a href="/">{{appName}}</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <div class="form-group has-feedback">
        <input type="text" placeholder="Email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': formSubmitted && f.email.errors }"
        />
        <span class="fa fa-envelope-o form-control-feedback"></span>
        <div *ngIf="formSubmitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <input type="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': formSubmitted && f.password.errors }"
        />
        <span class="fa fa-key form-control-feedback"></span>
        <div *ngIf="formSubmitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="row">
        <div *ngIf="validationErrors && validationErrors.common" class="col-md-12 invalid-feedback">
          <p *ngFor="let error of validationErrors.common">{{error}}</p>
        </div>
        <div class="col-xs-8">
          <a href="#">I forgot my password</a>
          <br>
          <a class="text-center" href="#">Register a new membership</a>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat bg-purple">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
</div>